$theme-colors: (
  "primary": #006d77,
  "secondary": #00a47f,
  "dark": #3f3d56,
  "light": #efefef,
  "gray": #dfdfdf,
);

$thirdiary: #eee8a9;

.text-thirdiary {
  color: $thirdiary !important;
}

.bg-thirdiary {
  background-color: $thirdiary !important;
}

@import "../../node_modules/bootstrap/scss/bootstrap";

@import "./custom.scss";
